* {
  margin: 0;
  padding: 0; }
.find{
  display:none;
  width: 6.4rem;
  height: 9rem;
  background: #fff;
  .search{
    width: 6.4rem;
    height: 0.65rem;
    border-bottom: 0.01rem solid #cdcdcd;
    background: #fff;
    input{
      width: 5rem;
      height: 0.46rem;
      border: 0.01rem solid #ababab;
      margin: 0.1rem 0 0 0.1rem;
      float: left;
      border-radius: 0.06rem;
      font: 0.26rem/0.46rem "";
      color: #cecece;
      padding-left: 0.15rem;
    }
    .sousuo{
      width: 0.91rem;
      height: 0.46rem;
      background: #0cc440;
      border-radius: 0.06rem;
      font: 0.26rem/0.46rem "";
      color: #fff;
      text-align: center;
      margin: 0.1rem 0 0 0.1rem;
      float: left;
    }
    #dl1{
      width: 2rem;
      height: 2rem;
      background: red;
    }
    option{
      width: 6.4rem;
      height: 0.64rem;
      border-bottom: 0.01rem solid #d9d9d9;
      background: #fff;
      font: 0.24rem/0.64rem "";
      color: #d9d9d9;
    }
  }
}
